* {
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS, Bahnschrift SemiBold, Consolas;
}

body {
    background-image: url(../images/background.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

.correo{
    display: flex;
    flex-wrap: wrap;
}

.title{
    font-size: 28px;
    text-align: left;
}

p {
    font-size: 17px;
    text-align: justify;
}

.recuperar{
    background-color: skyblue;
    border-color: skyblue;
    margin: 12px 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.forgotPassword input[type="email"] {
    margin-bottom: 10px;
    border-radius: 50;
}

.forgotPassword .password{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.forgotPassword .confirmPassword{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

hr {
    background-color: black;
    border-color: black;
    margin: 20px 0;
    height: 3px;
    opacity: calc(0.7);
}
